/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', Gergia;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: auto;
  position: relative;
}

.btn {
  width: 95px;
  padding: 7px;
  border: 2px solid #004734;
  border-radius: 5px;
  color: #004734;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: background-color 0.7s, color 0.7s, border-color 0.7s;
}

.btn:hover {
  background-color: #004734;
  color: #fff;
  text-decoration: underline;
}

.btn.btn--reverse {
  color: #fff;
  border: 2px solid #fff;
}

.btn.btn--reverse:hover {
  background-color: #fff;
  color: #000;
}

.btn.btn--white {
  color: #fff;
  border: 2px solid #fff;
}

.btn.btn--white:hover {
  background-color: transparent;
}

.btn.btn--green {
  background-color: #00704a;
  border: 2px solid #00704a;
  color: #fff;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 10;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Avenir, Arial, Gergia;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child:before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #555;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
  text-decoration: underline;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  color: #777;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
}

header .sub-menu .search .material-symbols-outlined {
  cursor: pointer;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}

header .sub-menu .search.focused input {
  width: 190px;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Avenir, Arial, Gergia;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
  cursor: pointer;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  text-decoration: underline;
}

header .badge {
  position: absolute;
  top: 152px;
  right: 42px;
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpeg');
  background-position: center;
  background-size: cover;
}

.visual .inner {
  height: 32vw;
}

.visual .title {
  position: absolute;
  top: 35.8%;
  left: -10px;
  width: 332px;
}
.visual .title > img {
  max-width: 100%;
}

.visual .title .btn {
  position: absolute;
  bottom: -70px;
  left: 120px;
}

.visual .cup1.image {
  position: absolute;
  top: 17.5%;
  left: 50%;
  width: 190px;
}

.visual .cup2.image {
  position: absolute;
  top: 16.9%;
  left: 33.9%;
  width: 190px;
}

.visual .cup3.image {
  position: absolute;
  top: 17.2%;
  right: 17.4%;
  width: 190px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {
}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  width: 960px;
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left .swiper-slide a {
  color: #fff;
  font-size: 14px;
}

.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice
  .notice-line
  .inner
  .inner__left
  .notice-line__more
  .material-symbols-outlined {
  color: #fff;
  font-size: 40px;
}

.notice .notice-line .inner .inner__right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notice .notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.notice
  .notice-line
  .inner
  .inner__right
  .toggle-promotion
  .material-symbols-outlined {
  font-size: 40px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  width: 120px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  z-index: 0;
  bottom: 40px;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('../images/promotion_slide_page.png');
  width: 13px;
  height: 12px;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_page_on.png');
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #fff;
}

/* REWORDS */
.rewords {
}

.rewords .inner {
  box-sizing: border-box;
  height: 240px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.rewords .inner .inner__logo > img {
  width: 176px;
}

.rewords .inner .inner__contents {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.rewords .inner .inner__contents .info-content {
  display: flex;
  margin-bottom: 10px;
}

.rewords .inner .inner__contents .info-content .info-content__text h2 {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 26px;
}

.rewords .inner .inner__contents .info-content .info-content__text p {
  line-height: 1.4;
  font-size: 17px;
}

.rewords .inner .inner__contents .info-content .btn-grop {
  display: flex;
  align-items: flex-end;
  margin-left: 110px;
}

.rewords .inner .inner__contents .info-content .btn-grop .btn {
  margin: 0 5px;
}

.rewords .inner .inner__contents .gift-content {
  display: flex;
  margin-top: 10px;
}

.rewords .inner .inner__contents .gift-content .gift-content__text {
  line-height: 1.4;
  font-size: 14px;
}

.rewords .inner .inner__contents .gift-content .btn-egift {
  margin-left: 80px;
}

.rewords .inner .inner__contents .gift-content .btn {
  width: 170px;
}

/* SEASON PRODUCT */

.season-product {
  background-image: url('../images/season_product_bg.jpeg');
  background-position: center;
  background-size: cover;
}

.season-product .inner {
  height: 500px;
}

.season-product .inner .product {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 14%;
  margin: auto;
  width: 17%;
  position: absolute;
}

.season-product .description-group {
  width: 30%;
  position: absolute;
  top: 125px;
  right: 7.2%;
}

.season-product .description-group .title {
  width: 100%;
}

.season-product .description-group .more {
  margin-top: 39px;
  width: 125px;
}

.season-product .description-group .more > a {
  width: 100%;
}
